- const isProd = process.env.NODE_ENV === 'production'
- const getLink = (path) => path === '/' ? '/' : isProd ? `/${path}` : `/${path}.html`

header.header
  nav.nav.container
    a.nav__logo(href=getLink('/'))
      img(src=require('../../assets/header-logo.svg') alt="Logo")
    div.nav__menu
      ul.nav__list
        li.nav__item
          a(href=getLink('about')) About us
        li.nav__item
          a(href=getLink('services')) Services
        li.nav__item
          a(href=getLink('use-cases')) Use Cases
        li.nav__item
          a(href=getLink('pricing')) Pricing
        li.nav__item
          a(href=getLink('blog')) Blog
      button.nav__button(type="button")
        span.nav__button-text Request a quote   
